<div class="container">
  <img src="../../../content/images//img.png" alt="" />
  <h2 class="text-center">Macavi Footwear</h2>
  <div>
    <p class="text-center">
      Organización que suministra calzado de trabajo, escolar y zapatillas con calidad, eficiencia y competitividad, para satisfacer las
      necesidades de nuestros clientes en el mercado nacional, contribuyendo con la construcción de un mejor país, minimizando la afectación
      del medio ambiente y creando principios de responsabilidad social.
    </p>
  </div>
</div>
