<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="macavi-producto-factura-heading"
        data-cy="ProductoFacturaCreateUpdateHeading"
        macaviTranslate="macaviApp.productoFactura.home.createOrEditLabel"
      >
        Create or edit a Producto Factura
      </h2>

      <div>
        <macavi-alert-error></macavi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" macaviTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" macaviTranslate="macaviApp.productoFactura.producto" for="field_producto">Producto</label>
          <select class="form-control" id="field_producto" data-cy="producto" name="producto" formControlName="producto">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="productoOption.id === editForm.get('producto')!.value?.id ? editForm.get('producto')!.value : productoOption"
              *ngFor="let productoOption of productosSharedCollection; trackBy: trackProductoById"
            >
              {{ productoOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span macaviTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span macaviTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
